<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.plugin.sample">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PluginActivity" />
        <activity android:name=".AnotherPluginActivity" />

        <service android:name=".PluginService" />
        <receiver android:name=".StaticPluginReceiver">
            <intent-filter>
                <action android:name="com.demo.broadcast" />
            </intent-filter>
        </receiver>
    </application>
</manifest>